You are given a proposition in natural language. Your task is to convert the proposition to first-order logic. For logical operators, use latex symbols: \\forall, \\exists, \\land, \\lor, \\neg, \\rightarrow. If possible, parse the proposition to a formula consisting of two atomic formulas, each of them a unary predicate. Each unique predicate should be represented by a lowercase (or camel-case) word. For a context, you are also given previous propositions already translated to first-order logic. Make sure you use predicate mapping from previous responses. Generate the final formula in the boxed format.\n\nPrevious propositions:\n{{ previous_statements }}\n\nProposition: {{ statement }}