You are given a syllogism that has been determined to be valid. Your task is to identify which premises are actually relevant (necessary) for the conclusion to follow.

Premises:
{{ premises }}

Conclusion: {{ conclusion }}

Return ONLY a JSON array of 0-based indices of the relevant premises. For example: [0, 2]